@import './typography';
@import './variables';

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-radius: 8px;
    background-color: $background-white;
    width: 800px;
    display: flex;
    flex-direction: column;
    border-top: $background-dark 8px solid;
    box-shadow: 0.3px 0px 4.8px rgba(0, 0, 0, 0.055), 2px 0px 38px rgba(0, 0, 0, 0.11);
}