:root {
    --background-color-primary: #ebebeb;
    --background-color-secondary: #fafafa;
    --accent-color: #cacaca;
    --text-primary-color: #222;
    --element-size: 6rem;
    --text-secondary-color: #858585;
    --divider-color: #F5F5F5;
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
    --background-color-primary: #1e1e1e;
    --background-color-secondary: #2d2d30;
    --accent-color: #3f3f3f;
    --text-primary-color: #ddd;
    --divider-color: #3e3e3e;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color-secondary);
}

p,h1,h2,h3,h4,h5 {
    color: var(--text-primary-color);
}