@import '@/styles/variables';

.container {
    border-radius: 8px;
    background-color: var(--background-color-secondary);
    width: 800px;
    display: flex;
    flex-direction: column;
    border-top: $background-dark 8px solid;
    &:not(:root.dark-theme) {
        box-shadow: 0.3px 0px 4.8px rgba(0, 0, 0, 0.055), 2px 0px 38px rgba(0, 0, 0, 0.11);
    };

    z-index: -1;
}

.check-list {
    &__header {
        height: 82px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 90px;
        padding: 24px 32px;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;

        &__text {
        }

        &__theme {
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px 0px;

        &.task {
            height: 48px;
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 8px 32px;
            gap: 8px;

            &__input {
                font-size: 16px;
                line-height: 23px;
                width: 580px;
                

                &--editing {
                    border: none;
                    outline: none;
                    background-color: var(--background-color-secondary);
                    color: var(--text-primary-color);
                }
            }

            &__title {
                font-size: 16px;
                line-height: 23px;
                width: 580px;
                color: var(--text-primary-color);

                &--empty {
                    color: #858585;
                }
            }

            &__actions {
                align-self: center;
                width: 119px;
                display: flex;
                flex-direction: row;
                

                &--icon {
                    border-radius: 5px;
                    width: 32px;
                    height: 32px;
                    color: var(--text-primary-color);

                    &:hover {
                        background-color: var(--accent-color);
                        cursor: pointer;
                    }

                    &.disabled {
                        color: #858585;
                        background-color: var(--background-color-secondary);
                        user-select: none;
                    }
                }
            }
        }
    }

    &__footer {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;

        &.visibility {
            color: #858585;
            border-radius: 5px;
            height: 32px;
            &:hover {
                background-color: var(--accent-color);
                cursor: pointer;
            }
        }

        &.add-task {
            border-radius: 5px;
            height: 32px;
            color: var(--text-secondary-color);
            &:hover {
                background-color: var(--accent-color);
                cursor: pointer;
            }
        }
    }
}