@import '@/styles/variables';

.modal {
    &__wrapper {
        position: fixed;
        width: 180px;
        height: 282px;
        border-radius: 1px;
        background-color: var(--background-color-secondary);
        backdrop-filter: initial;
        right: 30%;

        box-shadow:
            0.3px 0px 4.8px rgba(0, 0, 0, 0.055),
            2px 0px 38px rgba(0, 0, 0, 0.11);

        z-index: 99999;
    }

    &__intro {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 4px 0px 4px;
        height: 30px;
        color: var(--text-primary-color);

        &__title {
            display: block;
            font-size: 10px;
            font-weight: 700;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 0 0 90%;
        }

        &__icon--close {
            cursor: pointer;
            border-radius: 3px;
            width: 13px;
            height: 13px;
            
            
            &--close {
                font-weight: 300;
                
            }
            

            &:hover {
                background-color: var(--accent-color);
            }
        }
    }

    &__section-flags {
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        &__title {
            padding: 7px 10px 0px 10px;
            font-size: 10px;
            font-weight: 700;
            color: var(--text-primary-color);
        }

        &__icons {
            align-items: center;
            justify-content: stretch;
            display: flex;
            padding: 0px 10px 0px 10px;
            flex-direction: row;
            gap: 32px;
            height: 40px;

            &--icon {

                display: flex;
                align-items: center;
                height: 16px;
                width: 16px;

                &:hover {
                    cursor: pointer;
                    background-color: var(--accent-color);
                }
            }
        }
    }

    &__section-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &.action {
            padding-top: 15px 0px 15px 0px;

            

            

            &__option {
                font-size: 8px;
                font-weight: 700;
                padding: 10px;
                color: var(--text-primary-color);
                cursor: pointer;
                &:hover {
                    background-color: var(--accent-color);
                }


                &--delete {
                    color: red;
                    font-size: 8px;
                    font-weight: 700;
                    padding: 10px;
                }

                &--disabled {
                    color: var(--text-secondary-color);
                    user-select: none;
                    font-size: 8px;
                    font-weight: 700;
                    padding: 10px;
                }

            }
        }
    }
}